#recipe-box {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff6bc;
  color: #0d2b1f;
}

.description {
  display: flex;
}

.recipe-value {
  display: flex;
  align-self: flex-end;
}

/* //TODO Need to come back to this styling. Trying to make it so the variable and the recipe-value are spread apart and make the variable bold without adding an extra space  */


/* p {
  text-align: left;
} */

#recipe-header {
  text-align: center;
}